<div *ngIf="selectedTodo">
  <div class="col-xs-7">
    <div class="row">
      <div style="position: relative;">
        <div id="detail-container" (mouseenter)="mouseIn()" (mouseleave)="mouseOut()" class="col-xs-8 col-xs-offset-2 well well-sm">
          <div class="text-center">
            <p class="title" >{{selectedTodo?.title}}</p>
            <hr class="detail-hr" />
          </div>
          <a href="{{selectedTodo?.note}}" target="_blank" ><p class="truncate">Notes: {{selectedTodo?.note}}</p></a>
          <p>Finish By: April 24, 2017</p>
          <span (click)="goToEdit()" class="edit-x" *ngIf="mouseInside">EDIT</span>
        </div>
      </div>
    </div>
    <div class="row">
      <button (click)="goToCreate()" style="display: block; margin: 15px auto" class="btn btn-success">Create new todo</button>
    </div>

  </div>
</div>
<div *ngIf="!selectedTodo">Loading...</div>

