<div class="col-xs-5 col-xs-offset-1 well">
  <h3 style="text-align: center">Create a new todo</h3>
  <form name="create-form" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="title">Title</label>
      <input #first type="text" class="form-control" name="title" [(ngModel)]="title" required>
    </div>

    <div class="form-group">
      <label for="note">Note</label>
      <input type="text" class="form-control" name="note" [(ngModel)]="note" required>
    </div>

    <div class="form-group" style="text-align: center">
      <button [disabled]="loading" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>