<div>
  <div class="grid-component table-responsive">
    <div class="row">
      <p class="grid-title col-xs-3">{{title}}</p>
      <div class="col-xs-10 col-md-3 input-group">
        <custom-select class="form-control my-custom-select" name="myName" [(selectedFilter)]="selectedFilter" [selectList]="selectList"></custom-select>
      </div>
      <div class="input-group col-xs-10 col-md-3">
        <input class="form-control" id="search-input" [(ngModel)]="searchObj.searchText" placeholder="Search by {{selectedFilter}}">
      </div>
    </div>
    <hr style="border-top: 1px solid #ccc; margin-top: 5px; margin-bottom: 2px;">
    <table #gridTable class="table aware-table">
        <thead>
            <tr>
                <th *ngFor="let map of columnMaps">{{map.header}}</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let record of records | gridFilterPipe:selectedFilter:searchObj.searchText">
              <tr *ngIf="record == -1"><td>No matches</td></tr>
              <tr *ngIf="record != -1">
                <td *ngFor="let map of columnMaps">  
                  {{ record[map.primaryKey] | formatCell}}
                </td>
              </tr>
            </ng-container>
        </tbody>
    </table>
  </div>
</div>