<!-- <div class="col-xs-12 col-md-4 col-md-offset-1 well">
  <h3 style="text-align: center">Create a new group</h3>
  <form [formGroup]="groupForm" name="create-group-form" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
      <label for="groupName">Group name</label>
      <input #first type="text" class="form-control" [ngClass]="{error: groupName.invalid && groupName.dirty}" name="groupName" formControlName="groupName">
    </div>

    <div class="form-group" style="text-align: center">
      <button [disabled]="loading" class="btn btn-primary">Create</button>
    </div>
  </form>
</div> -->